C:\Users\hp\OneDrive\Desktop\5thS\6th Semester Courses\Computer Vision\CV Assignment 1\Computer-Vision\Assigment01\results
C:\Users\hp\OneDrive\Desktop\5thS\6th Semester Courses\Computer Vision\CV Assignment 1\Computer-Vision\Assigment01\data